@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background: #fdfbf9;
}
.example-wrapper {
    margin: 1em auto;
    max-width: 900px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    padding: 2px 6px;
}

#map{
    height:500px;
    border: 5px solid #008b35 !important;
@include gradient-lateral(rgba(30,87,153,1),rgba(30,87,153,0));
    border-radius: 2px;
    box-shadow: 0 0 5px black;
}
h1{
    font-family: 'Roboto', arial;
    text-align: center;
}
.mycluster {
    height: 40px;
    width: 50px;
    background-color: darkgreen;
    color: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}