{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="example-wrapper">
        <h1>Bienvenue sur le {{ controller_name }}! ✅</h1>
{% block listeadmin %}
<li>accueuil </li>
{% endblock %}


{% endblock %}