{% extends 'base.html.twig' %}

{% block title %}Map!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin="" />
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
{% endblock %}


{% block body %}
    {#{% block navbar %}{% endblock %}#}
    <div class="example-wrapper">
        <h1>Vos Bennes à verre à Lyon</h1>
        <div id="map">
            <!-- Ici s'affichera la carte -->
        </div>
    </div>
    {#{% block footer %}{% endblock %}#}
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <script type='text/javascript'
            src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
    <script src=″https://code.jquery.com/jquery-3.1.1.min.js″></script>
    <script>

        function initMap() {
            var map = L.map('map').setView([45.7563851, 4.8248167], 12);

            var osmLayer = L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                attribution: '© <a href= »http://osm.org/copyright »>OpenStreetMap</a> contributors',
                maxZoom: 19
            });

            map.addLayer(osmLayer);

            var bennes = $.getJSON('{{ link }}', function (dataBennes) {
                var iconBennes = L.icon({
                    iconUrl: './../build/glassLogo.png',
                    iconSize: [25, 25]
                });
                L.geoJSON(dataBennes, {
                    pointToLayer: function (feature, latlng) {
                        var marker = L.marker(latlng, {icon: iconBennes});
                        marker.bindPopup('<b><u>Description de la benne</u></b><br>'
                            + '<b>Adresse : </b>' + features.properties.numerodansvoie + features.properties.voie + '<br>'
                            + '<b>Commune : </b>' + features.properties.commune + '<br>'
                        );
                        return marker;
                    }
                }).addTo(map);
            });
            var baseLayers = {
                'OpenStreetMap': osmLayer,
                };
            l.control.layers(baseLayers).addTo(map);
        }

        window.onload = function(){
            initMap();
        }
    </script>
{% endblock %}