
{% extends 'base.html.twig' %}

{% block title %}Map!{% endblock %}

{% block body %}
    {#{% block navbar %}{% endblock %}#}
    <div class="example-wrapper">
        <div id="map">
            <!-- Ici s'affichera la carte -->
        </div>
    </div>
    {#{% block footer %}{% endblock %}#}
{% endblock %}
