{% extends 'base.html.twig' %}

{% block title %}Map!{% endblock %}

{% block body %}
    {#<img src="{{ asset('build/glassLogo.png') }}">#}


    <div class="example-wrapper">
        <h1>Bienvenue sur la {{ controller_name }}! ✅</h1>
        <div id="map">
            <!-- Ici s'affichera la carte -->
        </div>
    </div>
{% endblock %}