{% extends 'base.html.twig' %}

{#{% block navbar %}{% endblock %}#}
{% block title %}Map!{% endblock %}

{% block body %}

        <div id="map">
            <!-- Ici s'affichera la carte -->
        </div>

    {#{% block footer %}{% endblock %}#}
{% endblock %}